*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #F6F8FD;
}

button {
  border: none;
}

section {
  padding: 0 100px;
}

header.on-scroll {
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: .3;
  transition: .3;
}

header {
  width: 100%;
  z-index: 1000;
  min-height: 10vh;
  max-height: 100%;
  position: fixed;
  top: 0;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1352FF;
  -webkit-transition: .3;
  transition: .3;
}

header .logo {
  font-size: .9rem;
}

header .logo h1 {
  color: #fefefe;
  font-weight: 800;
}

header .logo h1 span {
  color: #ffa011;
}

header nav ul li {
  position: relative;
  display: inline-block;
  margin: 0 15px;
}

header nav ul li a {
  color: #fefefe;
  font-size: 1rem;
  font-weight: 550;
}

header nav ul li a:hover {
  opacity: .85;
}

header .auth a {
  color: #fefefe;
  margin: 0 5px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 7px;
  padding: 10px 20px;
}

header .auth .masuk {
  background-color: #5438d3;
}

header .auth .daftar {
  color: #5438d3;
  background-color: #d3dcf7;
}

header .menu {
  display: none;
}

.heroHome {
  background-color: #1352FF;
  width: 100%;
  height: 100vh;
}

.heroHome .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heroHome .container .thumbnail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.heroHome .container .caption {
  -webkit-box-flex: .9;
      -ms-flex: .9;
          flex: .9;
  color: #fefefe;
}

.heroHome .container .caption h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.heroHome .container .caption h1 span {
  color: #ffa011;
}

.heroHome .container .caption p {
  font-size: 1.3rem;
  line-height: 30px;
  margin-bottom: 60px;
}

.heroHome .container .caption a {
  border-radius: 55px;
  background-color: #fff;
  padding: 1rem 2.5rem;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  color: #1352FF;
}

.penjelasan {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.penjelasan h2 {
  color: #302f2f;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.penjelasan hr {
  height: 4px;
  border: none;
  background-color: #555;
  width: 20%;
  margin: auto;
  margin-top: .5rem;
  border-radius: 20px;
}

.penjelasan .fitur {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.penjelasan .fitur .perFitur {
  width: 40%;
  height: 200px;
  margin: 1.1rem;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  color: #302f2f;
  background-color: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.penjelasan .fitur .perFitur:nth-child(2) {
  margin-right: 70px;
}

.penjelasan .fitur .perFitur:nth-child(3) {
  margin-left: 70px;
}

.penjelasan .fitur .perFitur img {
  height: 50px;
}

.penjelasan .fitur .perFitur .caption {
  margin-left: 20px;
}

.penjelasan .fitur .perFitur .caption h3 {
  color: #4256ac;
  font-size: 1.5rem;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.penjelasan .fitur .perFitur .caption p {
  font-size: 1rem;
  line-height: 25px;
  color: #4a4b4c;
}

.kelasHome .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.kelasHome .title h2 {
  font-size: 2rem;
  font-weight: 600;
}

.kelasHome .title a {
  color: #4256ac;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: .5rem;
  border: 2px solid #bdbdbe;
}

.kelasHome .title a:hover {
  background-color: #e6e9f5;
}

.kelasHome .kelas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kelasHome .kelas .perKelas {
  width: 31%;
  margin: 15px 10px;
  border-radius: .5rem;
  border: 2px solid #e4e4e7;
}

.kelasHome .kelas .perKelas img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.kelasHome .kelas .perKelas h3 {
  margin-top: 15px;
  padding-left: 10px;
  font-size: 1.5rem;
}

.kelasHome .kelas .perKelas .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #e4e4e7;
}

.kelasHome .kelas .perKelas .info .perInfo {
  font-size: .9rem;
  padding: 10px 20px;
  color: #5438d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e0e4f3;
  border-radius: .5rem;
}

.kelasHome .kelas .perKelas .info .perInfo p {
  font-weight: 500;
  margin-left: 5px;
}

.kelasHome .kelas .perKelas .harga {
  font-size: 1.2rem;
  padding: 20px;
  color: #ce231c;
  font-weight: 600;
  letter-spacing: .5px;
}

.kelasHome .kelas .perKelas .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.kelasHome .kelas .perKelas .btn .selengkapnya {
  width: 90%;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.kelasHome .kelas .perKelas .btn .selengkapnya:hover {
  background-color: #37488E;
}

.selengkapnya {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4256ac;
  border-radius: .5rem;
}
/*# sourceMappingURL=style.css.map */