@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary-color: #379EE3;
  --border-radius-20: 20px;
  --border: 1px solid #d3dcf7;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #F6F8FD;
}

h1,
h2,
h3,
h4,
h5,
h6 p,
label {
  color: #302f2f;
}

.pt-15-vh {
  padding-top: 15vh;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.container {
  width: 100%;
  height: 100%;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button {
  border: none;
}

section {
  padding: 0 100px;
}

header.bg-white {
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
  background: #fefefe;
}

header.bg-white .logo h1 {
  color: #1352FF;
}

header.bg-white .logo h1 span {
  color: #ffa011;
}

header.bg-white nav ul li a {
  color: #34364A;
}

header {
  width: 100%;
  z-index: 1000;
  position: fixed;
  padding: 0 100px;
}

header .container {
  max-height: 100%;
  min-height: 11vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

header .logo {
  font-size: .9rem;
}

header .logo h1 {
  color: #fefefe;
  font-weight: 800;
}

header .logo h1 span {
  color: #62ff07;
}

header nav ul li {
  position: relative;
  display: inline-block;
  margin: 0 15px;
}

header nav ul li a {
  color: #fefefe;
  font-size: 1rem;
  font-weight: 550;
}

header nav ul li a:hover {
  opacity: .85;
}

header .auth a {
  color: #fefefe;
  margin: 0 5px;
  font-size: .9rem;
  font-weight: 550;
  border-radius: 7px;
  padding: 10px 20px;
}

header .auth .masuk {
  background-color: #5438d3;
}

header .auth .daftar {
  color: #5438d3;
  background-color: #d3dcf7;
}

header .menu {
  display: none;
}

.heroHome {
  width: 100%;
  height: 100vh;
  background-color: #1352FF;
}

.heroHome .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heroHome .container .thumbnail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.heroHome .container .caption {
  -webkit-box-flex: .9;
      -ms-flex: .9;
          flex: .9;
}

.heroHome .container .caption h1 {
  font-size: 3.1rem;
  font-weight: 800;
  margin-bottom: 50px;
  line-height: 60px;
  color: #fefefe;
}

.heroHome .container .caption h1 span {
  color: #ffa011;
}

.heroHome .container .caption p {
  font-size: 1.3rem;
  line-height: 30px;
  margin-bottom: 60px;
  color: #fefefe;
}

.heroHome .container .caption a {
  border-radius: 55px;
  background-color: #fff;
  padding: 1rem 2.5rem;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  color: #1352FF;
}

.title p {
  font-size: 1.4rem;
  color: #1352FF;
  font-weight: 550;
}

.title h2 {
  color: #302f2f;
  font-size: 2.2rem;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.penjelasan {
  text-align: center;
}

.penjelasan .fitur {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.penjelasan .fitur .perFitur {
  width: 25%;
  margin: .9rem;
  padding: 20px;
  background-color: #fff;
  border-radius: .5rem;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.penjelasan .fitur .perFitur img {
  height: 80px;
}

.penjelasan .fitur .perFitur h3 {
  font-weight: 600;
  margin: 30px 0 10px 0;
  font-size: 1.4rem;
  color: #302f2f;
}

.penjelasan .fitur .perFitur p {
  color: #6f6f74;
}

.kelasHome .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.kelasHome .title a {
  color: #4256ac;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: .5rem;
  border: 2px solid #bdbdbe;
}

.kelasHome .title a:hover {
  background-color: #e6e9f5;
}

.kelas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.kelas .perKelas {
  width: calc(90%/3);
  margin: 15px 10px;
  border-radius: .5rem;
  background-color: #fff;
  border: 2px solid #e4e4e7;
}

.kelas .perKelas img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.kelas .perKelas h3 {
  margin-top: 15px;
  padding-left: 10px;
  font-size: 1.5rem;
  color: #302f2f;
}

.kelas .perKelas .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #e4e4e7;
}

.kelas .perKelas .info .perInfo {
  font-size: .9rem;
  padding: 10px 20px;
  color: #5438d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #e0e4f3;
  border-radius: .5rem;
}

.kelas .perKelas .info .perInfo p {
  font-weight: 500;
  margin-left: 5px;
}

.kelas .perKelas .info .harga {
  font-size: 1.2rem;
  color: #ce231c;
  font-weight: 600;
  letter-spacing: .5px;
}

.kelas .perKelas .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}

.kelas .perKelas .btn .selengkapnya {
  width: 90%;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.kelas .perKelas .btn .selengkapnya:hover {
  background-color: #37488E;
}

.selengkapnya {
  padding: 15px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fefefe;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4256ac;
  border-radius: .5rem;
}

/* webinar start */
.webinar {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1352FF;
}

.webinar .container {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.webinar .container .caption {
  width: 60%;
}

.webinar .container .caption h2 {
  font-size: 3rem;
  color: #fefefe;
  line-height: 60px;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.webinar .container .caption h2 span {
  color: #62FF07;
}

.webinar .container .caption p {
  color: #fefefe;
  font-size: 1.4rem;
  line-height: 35px;
  text-transform: capitalize;
  margin-bottom: 70px;
}

.webinar .container .caption a {
  border-radius: 10px;
  background-color: #fff;
  padding: 1rem 2.5rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  color: #1352FF;
}

.webinar .container img {
  width: 40%;
}

/* webinar end */
.containerTitleHome {
  margin-top: 100px;
}

/* testimoni start */
.testimoni {
  width: 100%;
  height: 100%;
}

.testimoni .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.testimoni .container .perTestimoni {
  width: calc(90%/3);
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: var(--border-radius-20);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #1D247B;
  border: var(--border);
  color: #fff;
}

.testimoni .container .perTestimoni img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimoni .container .perTestimoni h2 {
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fefefe;
}

.testimoni .container .perTestimoni span {
  font-size: .9rem;
  margin-top: 3px;
}

.testimoni .container .perTestimoni p {
  margin-top: 1rem !important;
  font-weight: 500;
  line-height: 20px;
}

/* testimoni end */
/* join start */
.join {
  width: 100%;
  height: 100%;
  background: url("../img/bg-5.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 70px;
}

.join .container {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join .container img {
  width: 50%;
  height: 80%;
}

.join .container h1 {
  font-size: 2.5rem;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 20px;
  color: #302f2f;
}

/* join end */
/* footer start */
.footer {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  -webkit-box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
}

.footer .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  margin: 1rem;
}

.footer .box h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #302f2f;
  padding: 1rem 0;
}

.footer .box p {
  font-size: 1rem;
  color: #302f2f;
  padding: .5rem 0;
  line-height: 25px;
  margin-bottom: 30px;
}

.footer .box .sosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .box .sosmed .perSosmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  font-size: 1.5rem;
  margin: 0 10px;
  border-radius: 50%;
  background: #ffa011;
}

.footer .box .sosmed .perSosmed:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s;
  transition: 1s;
}

.footer .box a {
  font-size: 1rem;
  color: #000;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .box a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  padding: 20px 100px;
  color: #6f6f74;
  font-size: 1rem;
  background-color: #fff;
}

footer p {
  padding-top: 20px;
}

footer hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: #e4e4e7;
  margin: auto;
  margin-top: .5rem;
  border-radius: var(--border-radius-20);
}

/* footer end */
.heroKelas {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  background-color: #1352FF;
}

.heroKelas .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heroKelas .container .caption {
  width: 50%;
}

.heroKelas .container .caption h1 {
  color: #fefefe;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 50px;
}

.heroKelas .container .caption p {
  color: #fefefe;
  font-size: 1.3rem;
  line-height: 30px;
  margin-bottom: 50px;
}

.heroKelas .container .caption a {
  border-radius: 10px;
  background-color: #fefefe;
  padding: .8rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  color: #1352FF;
}

.heroKelas .container .img {
  width: 50%;
}

.heroKelas .container .img .heroImg {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
  position: relative;
  width: 75%;
  height: 100%;
  z-index: 99;
}

.heroKelas .container .img .bg {
  width: 80%;
  position: absolute;
  bottom: -20px;
  right: -350px;
}

.containerFiturKelas {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8fafc;
}

.containerFiturKelas .container {
  border-radius: 1rem;
  background-color: #fff;
  border: var(--border);
}

.containerFiturKelas .container h2 {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ce231c;
  border-bottom: 1px solid #ce231c;
}

.containerFiturKelas .container .fitur {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.containerFiturKelas .container .fitur .perFitur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100%/4);
}

.containerFiturKelas .container .fitur .perFitur .img {
  width: 90%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1rem;
  background-color: #EFF2F6;
  margin-bottom: 20px;
}

.containerFiturKelas .container .fitur .perFitur .img img {
  width: 100%;
  height: 80%;
}

.containerFiturKelas .container .fitur .perFitur p {
  font-size: 1rem;
  margin-top: 10px;
  color: #302f2f;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
}

.dataKelas {
  background-color: #F5F5F5;
}

.dataKelas h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #302f2f;
}

.heroDetailKelas {
  height: 30rem;
  background-color: #E5E5E5;
}

.heroDetailKelas .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heroDetailKelas .container .caption {
  width: 60%;
  color: #302f2f;
}

.heroDetailKelas .container .caption h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.heroDetailKelas .container .caption p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 60px;
}

.heroDetailKelas .container .caption button,
.heroDetailKelas .container .caption a {
  border-radius: 10px;
  background-color: #1352FF;
  padding: .8rem 2rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  color: #fefefe;
}

.heroDetailKelas .container .img {
  width: 40%;
  height: 100%;
  background-image: url("../img/kelas/Skilvul asset volume 2-03.jpg");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 20px;
  border-radius: var(--border-radius-20);
}

.detailKelas .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailKelas .container h2 {
  font-size: 1.5rem;
  color: #1352FF;
  margin-bottom: 20px;
}

.detailKelas .container .tentangKelas {
  width: 70%;
  margin-right: 20px;
}

.detailKelas .container .tentangKelas .perTentangKelas {
  padding: 30px 20px;
  margin: 20px 0;
  border-radius: var(--border-radius-20);
  border: var(--border);
  background-color: #fff;
}

.detailKelas .container .tentangKelas .perTentangKelas .materi p {
  padding: 20px;
  margin: 10px 0;
  font-weight: 500;
  border-radius: 10px;
  background-color: #EFF2F6;
}

.detailKelas .container .infoKelas {
  width: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 11vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.detailKelas .container .infoKelas .perInfoKelas {
  padding: 30px 20px;
  margin: 20px 0;
  border-radius: var(--border-radius-20);
  border: var(--border);
  background-color: #fff;
}

.detailKelas .container .infoKelas .perInfoKelas .infoMateri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  margin: 10px 0;
  font-weight: 500;
  border-radius: 10px;
  background-color: #EFF2F6;
}

.detailKelas .container .infoKelas .perInfoKelas .infoMateri img {
  height: 40px;
  margin-right: 10px;
}

.detailKelas .container .infoKelas .perInfoKelas .mentor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.detailKelas .container .infoKelas .perInfoKelas .mentor img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.detailKelas .container .infoKelas .perInfoKelas .mentor p {
  font-weight: 500;
}

.bg-profil {
  height: 50vh;
  background-color: #1352FF;
}

.bg-profil .container {
  background-image: url("../img/profil/profile-banner-desktop.png");
  background-position: center;
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
}

.kelasYangDimiliki .container {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e4e4e7;
}

.kelasYangDimiliki .container h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.profil {
  margin-top: -80px;
}

.profil .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profil .container .profil-orang,
.profil .container .profil-kelas {
  border: var(--border);
  border-radius: 10px;
  background-color: #fff;
}

.profil .container .profil-orang {
  width: 35%;
  height: 100%;
  padding: 20px;
  position: relative;
}

.profil .container .profil-orang .icon {
  top: 10px;
  right: 10px;
  padding: 7px 15px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #e4e4e7;
}

.profil .container .profil-orang .detail-orang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: -80px;
}

.profil .container .profil-orang .detail-orang img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-bottom: 20px;
}

.profil .container .profil-orang .detail-orang .email {
  font-weight: 500;
  color: #1352FF;
}

.profil .container .profil-orang .detail-orang .sekolah {
  color: #6f6f74;
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.profil .container .profil-orang .detail-orang .pencapaian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.profil .container .profil-orang .detail-orang .pencapaian .perPencapaian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profil .container .profil-orang .detail-orang .pencapaian .perPencapaian p {
  font-weight: 500;
}

.profil .container .profil-orang .detail-orang .pencapaian .perPencapaian span {
  font-weight: 600;
  color: #ffa011;
}

.profil .container .profil-orang .detail-orang .tentangSaya {
  margin-top: 20px;
  text-align: left;
}

.profil .container .profil-orang .detail-orang .tentangSaya p {
  margin-top: 10px;
  color: #6f6f74;
}

.profil .container .profil-orang .detail-orang a {
  margin-top: 30px;
  width: 100%;
}

.profil .container .profil-kelas {
  width: 65%;
  min-height: 50vh;
  margin-left: 20px;
}

.profil .container .profil-kelas .titleCodeBadge {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px 20px;
  border-bottom: 1px solid #e4e4e7;
}

.profil .container .profil-kelas .codeBadgeKosong {
  width: 100%;
  padding: 20px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profil .container .profil-kelas .codeBadgeKosong img {
  width: 100px;
  height: 100px;
}

.profil .container .profil-kelas .codeBadgeKosong h1 {
  margin: 10px 0;
}

.kontak {
  width: 100%;
}

.kontak .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kontak .container .caption,
.kontak .container img {
  height: 100%;
  width: 50%;
}

.kontak .container .caption {
  margin-left: 50px;
}

.kontak .container .caption h1 {
  font-size: 2.1rem;
  margin-bottom: 20px;
}

form .form-group {
  width: 100%;
}

form .form-group label {
  font-weight: 500;
  font-size: 1.1rem;
}

form .form-group textarea {
  height: 150px;
}

form .form-group textarea,
form .form-group input {
  width: 100%;
  resize: none;
  cursor: text;
  padding: 10px;
  margin: 10px 0;
  color: #302f2f;
  font-size: 1rem;
  font-weight: 500;
  border-radius: .5rem;
  border: 1px solid #e4e4e7;
  background-color: #fff;
  letter-spacing: .5px;
}

form button {
  width: 100%;
  color: #fff;
  padding: 12px 0;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: .5rem;
  background-color: #1352FF;
}

@media (min-width: 1500px) {
  header,
  section {
    padding: 0;
  }
  header,
  footer,
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    max-width: 1140px;
  }
  .join .container {
    height: 60vh;
  }
  .join .container img {
    height: 80%;
  }
}
/*# sourceMappingURL=style.css.map */